{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- RESET PASSWORD PAGE DONE
			============================================= -->
<section id="reset-password-1" class="reset-password-section division">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 offset-md-1">
                <!-- RESET PASSWORD FORM -->
                <div class="register-form">
                    <div name="resetpasswordform" class="row reset-password-form">
                        <!-- Title-->
                        <div class="col-md-12">
                            <div class="register-form-title text-justify">
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                                <h4 class="h4-xl" style="padding-left: 16px;">{% trans "Password reset link sent" %}
                                </h4>
                                <p class="p-md">
                                    {% blocktrans %}
                                    We have sent you an e-mail. If you have not received it please check
                                    your spam folder. Otherwise contact us if you do not receive it in a few minutes.
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END RESET PASSWORD FORM -->
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section>
<!-- END RESET PASSWORD PAGE -->
{% endblock %}