{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!-- RESET PASSWORD PAGE
============================================= -->
<section id="reset-password-1" class="reset-password-section division">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <!-- RESET PASSWORD FORM -->
                <div class="register-form">
                    <div name="resetpasswordform" class="row reset-password-form">
                        <!-- Title-->
                        <div class="col-md-12">
                            <div class="register-form-title text-center">
                                <h4 class="h4-xl">{% trans "Password reset successful" %}</h4>
                                <p class="p-md">{% trans 'Your password was succefully reset. login ' %}</p>
                                <span><a href="{% url 'account_login' %}">here</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END RESET PASSWORD PAGE -->
{% endblock %}