{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section id="login-2" class="login-section division">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <!-- SIGN IN FORM -->

                <div class="register-form">
                    <form name="signinform" class="row sign-in-form login" method="POST"
                        action="{% url 'account_change_password' %}">
                        {% csrf_token %}

                        <!-- Title-->
                        <div class="col-md-12">
                            <div class="register-form-title text-center">
                                <h4 class="h4-lg">{% trans "change my password" %}</h4>
                                <p class="p-xl">{% trans "change my account password." %}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control email" type="password" name="oldpassword"
                                placeholder="current password" autocomplete required="" id="id_oldpassword">
                        </div>

                        <!-- Form Input -->
                        <div class="col-md-12">
                            <input class="form-control password" type="password" name="password1"
                                placeholder="new password" autocomplete="current-password" required=""
                                id="id_password1">
                        </div>

                        <div class="col-md-12">
                            <input class="form-control password" type="password" name="password2"
                                placeholder="confirm new password" autocomplete="current-password" required=""
                                id="id_password2">
                        </div>
                        <!-- Form Submit Button -->
                        <div class="col-md-6 col-md-6">
                            <button type="submit" class="btn btn-md btn-skyblue tra-black-hover submit">
                                {% trans "change password" %}
                            </button>
                            <a href="{% url 'account_reset_password' %}" style="font-size: 20px; margin-top: 3rem;">
                                {% trans "Forgot password?" %}
                            </a>
                        </div>

                        <!-- Form Message -->
                        <div class="col-lg-12 reset-form-msg">
                            {% if form.errors %}
                            <span class="loading">{{form.errors}}</span>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <!-- END SIGN IN FORM -->
            </div>
        </div>
    </div>
</section>

{% endblock %}