{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section id="login-2" class="login-section division">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <!-- SIGN IN FORM -->

                <div class="register-form">
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <div class="col-md-12">
                        <div class="register-form-title text-center">
                            <p class="p-xl">
                                {% blocktrans %}
                                The password reset link was invalid, possibly because it
                                has already been used. Please request a
                                <a href="{{ passwd_reset_url }}">new password reset</a>.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    {% else %}
                    <form name="signinform" class="row sign-in-form login" method="POST" action="{{ action_url }}">
                        {% csrf_token %}

                        <!-- Title-->
                        <div class="col-md-12">
                            <div class="register-form-title text-center">
                                <h4 class="h4-lg">
                                    {% if token_fail %}{% trans "Bad Token" %}
                                    {% else %}
                                    {% trans "change my password" %}
                                    {% endif %}
                                </h4>
                                <p class="p-xl">Log in to your account</p>
                            </div>
                        </div>

                        <!-- Form Input -->
                        <div class="col-md-12">
                            <div class="wrap-input">
                                <span class="btn-show-pass ico-20">
                                    <span class="flaticon-visible eye-pass"></span>
                                </span>
                                <input class="form-control password" type="password" name="password1"
                                    placeholder="new password" autocomplete="current-password" required=""
                                    id="id_password1">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="wrap-input">
                                <span class="btn-show-pass ico-20">
                                    <span class="flaticon-visible eye-pass"></span>
                                </span>
                                <input class="form-control password" type="password" name="password2"
                                    placeholder="confirm password" autocomplete="current-password" required=""
                                    id="id_password2">
                            </div>
                        </div>

                        <!-- Form Submit Button -->
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-md btn-skyblue tra-black-hover submit">
                                {% trans "change password" %}
                            </button>
                        </div>

                        <!-- Form Message -->
                        <div class="col-lg-12 reset-form-msg">
                            {% if form.errors %}
                            <span class="loading">{{form.errors}}</span>
                            {% endif %}

                        </div>
                    </form>
                    {% endif %}
                </div>
                <!-- END SIGN IN FORM -->
            </div>
        </div>
    </div>
</section>
{% endblock %}