{% load static %}

<script src="{% static 'account/js/jquery-3.6.0.min.js' %}"></script>
<!-- <script src="js/bootstrap.min.js"></script> -->
<script src="{% static 'account/js/modernizr.custom.js' %}"></script>
<script src="{% static 'account/js/jquery.easing.js' %}"></script>
<script src="{% static 'account/js/jquery.appear.js' %}"></script>
<script src="{% static 'account/js/jquery.scrollto.js' %}"></script>
<script src="{% static 'account/js/menu.js' %}"></script>
<!-- <script src="js/imagesloaded.pkgd.min.js"></script> -->
<!-- <script src="js/isotope.pkgd.min.js"></script> -->
<script src="{% static 'account/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'account/js/jquery.magnific-popup.min.js' %}"></script>
<!-- <script src="js/quick-form.js"></script> -->
<!-- <script src="js/request-form.js"></script> -->
<!-- <script src="js/jquery.validate.min.js"></script> -->
<!-- <script src="js/jquery.ajaxchimp.min.js"></script> -->
<script src="{% static 'account/js/wow.js' %}"></script>